@font-face {
  font-family: "Fena";
  src: url(font/FENA.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

/* #grad {
    background-image: linear-gradient(blue, indigo);
  } */

html {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to bottom,
    #634fff,
    #3d0367
  )
}

a {
  text-decoration: none;
}

a:link {
  color:rgb(187, 235, 236);
}

a:visited {
  color:rgb(187, 235, 236);
}

footer {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.centerImg {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
}

.social {
  display: block;
  margin: 0 auto;
  width: 10%;
  padding: 2px;
}

.blue {
  color:rgb(187, 235, 236);
}

.big {
  font-size: 150%;
}

.coverButton {
  /* border: 1px solid rgb(4, 100, 243); */
  background-color: rgba(132, 176, 243, 0.4);
  border-radius: 15px;
  /* padding: 5px; */
}

.content {
  padding: 10px;
  display: none;
  overflow: hidden;

}

#MC {
  color:rgb(215, 242, 240);
}

p {
  margin: auto;
  width: 80%;
  padding: 10px;
  font-family: sans-serif;
  color: rgb(215, 242, 240);
}

ul {
  font-family: sans-serif;
  margin: auto;
  width: 80%;
  padding: 10px;
  list-style-type: "";
  color: cornsilk;
}

.title {
  font-size: 500%;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-weight: normal;
  margin: auto;
  align-self: center;
  width: 80%;
  padding: 10px;
  color: rgb(243, 119, 4);
  /* display: inline-block; */
  /* margin-left: auto;
  margin-right: auto; */
}

h2 {
  margin: auto;
  width: 80%;
  padding: 10px;
}

h3 {
  font-family: sans-serif;
  margin: auto;
  width: 80%;
  padding: 10px;
  color:rgb(205, 191, 173);
}

.clear {
  color:cornsilk;
}

h4 {
  margin: auto;
  width: 80%;
  padding: 10px;
}

h6 {
  font-family: sans-serif;
  margin: auto;
  /* width: 80%; */
  padding: 10px;
  color:rgb(205, 191, 173);
}